<h1>Sign Up</h1>
<div class="btn-wrapper">
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button class="btn-signup" (click)="setRoleToCustomer()">Customer</button>
      </ion-col>
      <ion-col>
        <button ion-button class="btn-signup" (click)="setRoleToProfessional()">Professional</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
<ion-list class="auth-form">
    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="name" #nameField="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Surname</ion-label>
      <ion-input type="text" name="surname" [(ngModel)]="surname" #surnameField="ngModel"></ion-input>
    </ion-item>
    <ion-item *ngIf="statusProfessional">
      <ion-label stacked>Profession</ion-label>
      <ion-select [(ngModel)]="profession" multiple="true" name="profession" #professionField="ngModel">
        <ion-option>Web Devloper</ion-option>
        <ion-option>Chef</ion-option>
        <ion-option>Plumber</ion-option>
        <ion-option>Carpenter</ion-option>
        <ion-option>Hairdresser</ion-option>
        <ion-option>Masseuse</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="statusProfessional">
      <ion-label stacked>Telephone</ion-label>
      <ion-input type="text" name="telephone" [(ngModel)]="telephone" #telephoneField="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>E-Mail</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="email" #emailField="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="password" #passwordField="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Password repeat</ion-label>
      <ion-input type="password" name="password"></ion-input>
    </ion-item> 
  </ion-list>
  <button type="submit" ion-button block class="btn-submit">Signup</button>
</form>


<p>Already a member?<button ion-button color="primary" clear (click)="login()">Login here!</button></p>