page-signup {
  .auth-form {
    margin: 0 5vw;
  }
  ion-row{
    justify-content: center;
    align-items: center;
  }
  .btn-wrapper{
    margin: 10vh auto;
    margin-bottom: 5vh;
  }
  .btn-signup {
    //  display: inline-block;
    margin: 0 auto;
    width: 35vw;
  }

  .btn-submit {
    width: 90vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5vh;
  }

  .validation {
    color: #AA0114;
  }
  .text-center{
    text-align: center;
  }
}
