page-update-pending-deal {
  .setup-icon {
    font-size: 250%;
    text-align: center;
  }
  ion-card-header {
    text-align: center;
    margin: 5vh auto;
  }

  p {
    text-align: center;
    
  }

  .slide-title {
    margin-top: 3vh;
  }
  .schedule {
    margin: 8vh auto;
    margin-bottom: 7vh;
  }
  .btn-update {
    width: 60%;
    margin: 0 auto;
    margin-top: 5vh 
  }
}
